/* style.css */

/* Общие стили для всего сайта */
body {
    background-color: rgb(229, 214, 182); /* цвет фона по желанию */
}

/* Меню сайта */
nav ul {
    list-style: none; /* убрать маркеры списка */
}

nav ul li a {
    /* стили для ссылок в меню */
    color: #333; /* цвет текста */
    font-size: 20px; /* размер шрифта */
    background: rgb(128, 189, 115); /* Цвет фона под заголовком */
    padding: 2px; /* Поля вокруг текста */
    
}

/* Заголовки */
h1{
    color: rgb(128, 189, 115); /* цвет текста заголовков */
}
h2, h3, h4, h5, h6 {
    color: rgb(1, 35, 0); /* цвет текста заголовков */
}

/* Стили для страницы "Товар каталога" */
/* Заголовки */
.catalog-heading {
    color: black; /* цвет текста */
    font-size: 18px; /* размер шрифта */
    font-weight: 400; /* насыщенность шрифта */
    list-style: none
}

/* Краткое описание товара */
.short-description {
    color: rgb(100, 100, 100); /* цвет текста по желанию */
    font-size: 14px; /* размер шрифта */
    font-style: italic; /* начертание шрифта */
    line-height: 16px; /* высота текста */
    list-style: none;
}

/* Подробное описание товара */
.long-description {
    color: rgb(50, 50, 50); /* цвет текста по желанию */
    font-size: 16px; /* размер шрифта */
    font-weight: 400; /* насыщенность шрифта */
    line-height: 24px; /* высота текста */
    text-align: left; /* расположение текста по левому краю */
    list-style: none;
}



/* Добавление произвольных изображений в качестве маркеров списка */
.characteristics-list li:before {
    content: url('marker.png'); /* замените 'marker.png' на путь к вашему изображению */
    margin-right: 5px; /* отступ между маркером и текстом */
}
